.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogItems {
  padding: 10px;
}

.dialogItems .active {
  color: gold;
  /* background-color: crimson; */
  text-shadow: 1px 1px 1px black;
}

.dialog a {
  text-decoration: none;
  color: white;
}

.messages {
  padding: 10px;
}

.messages .message {
  color: aqua;
  text-shadow: 1px 1px 7px black;
}
