.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogItems {
  padding: 10px;
}

.dialogItems .active {
  color: gold;
  background-color: crimson;
}

.dialog a {
  text-decoration: none;
}

.messages {
  padding: 10px;
}

.messages .message {
}
