.nav {
  grid-area: n;
  background-color: yellowgreen;
  padding: 20px;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.active {
  color: gold;
}

.friends {
  margin-top: 40px;

  font-size: 1.5rem;
}

.friedsItems {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}
