.cover {
  height: 200px;
  width: 100%;
  background: url(https://p.bigstockphoto.com/GeFvQkBbSLaMdpKXF1Zv_bigstock-Aerial-View-Of-Blue-Lakes-And--227291596.jpg);
  background-position: center;
}

.ava {
  width: 150px;
  height: 150px;
}
